.container{
    background-color:blueviolet;
}
.box{
    border: 1px solid;
    background-color: white;
}
.box-highlight p{
    color: blue;
}
.list-item{
    color: green;
}
div{
    margin: 10px;
}
 p {
    color: red;
}